* {
    box-sizing: border-box;
}

body {
    /* display: flex; */
    justify-content: center;
}

.container {
    /* align-items: center; */
    display: flex;
    /* justify-content: center; */
}

.flex-column {
    flex-direction: column;
}

#container {
    justify-content: center;
}

#grid-container {
    border: 2px solid black;
    flex: auto;
    height: 640px;
    width: 640px;
}

#button-container {
    gap: 20px;
    flex-wrap:nowrap;
    padding: 20px;
}

#mode-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content:space-evenly;
}

#mode-container > * {
    margin: 0;
}

/* Uncomment this rule if you want a grid with lines */
.row, 
.square {
    border: 1px solid black;
} 

.filled {
    background-color: darkgray;
}

button {
    font-size: 20px;
}