* {
    box-sizing: border-box;
}

#container {
    height: 960px;
    width: 960px;
}

#grid-container {
    border: 2px solid black;
    width: 100%;
    flex: 1;
}

/* Uncomment this rule if you want a grid with lines */
/* .row,
.square {
    border: 1px solid black;
} */

.filled {
    background-color: darkgray;
}

button {
    font-size: 20px;
}